.menu__refs, .menu, .menu__image{
  display: flex;
  align-items: center;
}

.menu{
  margin-right: 40px;
}
.menu__image svg{
  margin-left: 7px;
}
.menu__refs{
  width: 94px;
  justify-content: space-between;
  margin-right: 20px;
}
.menu__image img{
  border-radius: 50%;

}
.menu__photo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  height: 49px;
  width: 49px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #fff;
}